{% extends "groups/base.html" %}
{% load avatar_tags %}

{% block content %}
<div class="onecol">
  <h3><a href="{% url group_create %}">Create a new group</a></h3>
{% if object_list %}
<table border='0'>
{% for group in object_list %}
       <tr><td><img src="{{ group.logo.url }}" alt="{{ object.title }}" class="group-logo"></td><td><a href="{% url group_detail group.slug %}">{{ group.title }}</a></td></tr>
{% endfor %}
</table>
{% else %}
No Groups Currently ...
{% endif %}
</div>
{% endblock %}
